.footer
{
    height: 100%;
    width: 100%;
    background-color:orangered;
    color: white;
    padding: 50px;

}
.footer-para
{
    margin-top: 30px;
}
.box 
{
    margin-top: 30px;
    
}
.social
{
    display: flex;
    align-items: center;
    justify-content:first baseline;
    margin-top: 20px;
    color: white;
    border: none;
    margin-left: 5px;
    
}
.btnnn{
    background-color: rgb(68, 159, 68);
    border: none;
    margin-left: 10px;
}



 .link:hover{
    text-decoration: underline;
 }

 .btn:hover{
    color:rgb(198, 167, 55);
    transform: scale(1.1);
    transition: .3s;
    background-color: rgb(198, 167, 55);

 }
 .box a {
    text-decoration: none;
    color: white;
 }
 .box a:hover{
    text-decoration: underline;
    color:black;
 }


