<app-header></app-header>
<div class="row p-3 m-2">
    <div class="col-lg-2  " id="nav">
        <div class="row mt-3">
            <div class="shadow p-3 text-center">
                <img img [src]="userObject.profile" width="80px" height="80px" style="border-radius: 50%;" alt="">
                <h4 class="mt-2">{{userObject.username}}</h4>
                <span class="text-secondary">{{userObject.designation}}</span>
            </div>

        </div>
        <div class="row mt-3 ">
            <div id="links" class="shadow ">
                <hr>
                <a routerLink="/userdash">
                    <div  style="background-color: #85d39d;" class="p-2"><i class="fa-solid fa-table-columns" ></i>&nbsp;&nbsp;Dashboard</div>
                </a>
                
                <hr>
                <a routerLink="/edituser">
                    <div><i class="fa-solid fa-user" ></i>&nbsp;&nbsp;Edit Profile</div>
                </a>
                <hr>
                <a routerLink="/appliedjobs">
                    <div><i class="fa-solid fa-address-card" ></i>&nbsp;&nbsp;Applied Jobs</div>
                </a>
                <hr>
                <a routerLink="/savedjobs">
                    <div><i class="fa-solid fa-address-card" ></i>&nbsp;&nbsp;Saved Jobs</div>
                </a>
                <hr>
                <a routerLink="/searchjob">
                    <div><i class="fa-solid fa-list" ></i>&nbsp;&nbsp;Jobs</div>
                </a>
                <hr>
                
                
            </div>
        </div>
    </div>
    <div class="col-lg-10 p-2">

        <div class="row shadow m-2">
            <div class="row m-2 ">
                <img src="https://chitra-production.s3.eu-west-2.amazonaws.com/production/images/4d7/c92682e3-1662-47f3-ba28-6279b44c74d7/25c/b4810c8f-2ebb-41c1-912b-22bdf0a1025c/FIND-JOB.jpg" style="opacity: .8;"
                    alt="" height="200px">



            </div>
            <div class="row p-2 m-3">
                <div class="col-lg-4 p-2">
                    <div class="card shadow" style="width: auto; height: 12rem;background-color: #cce3d3;">
                        <div class="card-body text-center">
                            <h1 class="text-success mt-5">{{jobCount}}</h1>
                            <span class="fw-bold fs-4"> Job Applied</span>

                        </div>
                    </div>

                </div>
                <div class="col-lg-4 p-2">
                    <div class="card shadow" style="width: auto; height: 12rem;background-color: #cce3d3;">
                        <div class="card-body text-center">
                            <h1 class="text-success mt-5">{{savedCount}}</h1>
                            <span class="fw-bold fs-4">Saved Jobs</span>

                        </div>
                    </div>

                </div>
                <div class="col-lg-4 p-2">
                    <div class="card shadow" style="width: auto; height: 12rem;background-color: #cce3d3;">
                        <div class="card-body text-center">
                            <h1 class="text-success mt-5">{{reviewed}}</h1>
                            <span class="fw-bold fs-4"> Application Reviewed</span>

                        </div>
                    </div>

                </div>



        </div>
    </div>



</div>