<div class="row p-3">
    <div class="col-lg-2  " id="nav">
        <div class="row mt-3">
            <div class="shadow p-3 text-center">
                <img src="https://a.storyblok.com/f/191576/1200x800/215e59568f/round_profil_picture_after_.webp" width="150px"  style="border-radius: 50%;" alt="">
                <h4 class="mt-2">Mohini Singh</h4>
                <span class="text-secondary">Full Stack Developer</span>
            </div>

        </div>
        <div class="row mt-3 ">
            <div id="links" class="shadow ">
                <hr>
                <a href="">
                    <div ><i class="fa-solid fa-table-columns" style="color: #74C0FC;"></i>&nbsp;&nbsp;Dashboard</div>
                </a>
                
                <hr>
                <a href="/editemp">
                    <div><i class="fa-solid fa-user" style="color: rgb(14, 157, 239);"></i>&nbsp;&nbsp;Edit Profile</div>
                </a>
                <hr>
                
                <a routerLink="/empjoblist">
                    <div><i class="fa-solid fa-list" style="color: #74C0FC;"></i>&nbsp;&nbsp;Posted Job</div>
                </a>
                <hr>
                <a href="">
                    <div><i class="fa-solid fa-list" style="color: #74C0FC;"></i>&nbsp;&nbsp;Job Application</div>
                </a>
                <hr>
                <a routerLink="">
                    <div style=" border-left: 0.25rem solid black; " class="p-2"><i class="fa-solid fa-gear" style="color: #74C0FC;"></i>&nbsp;&nbsp;Settings</div>
                </a>
                <hr>
    
                <a href="">
                    <div><i class="fa-solid fa-right-from-bracket" style="color: rgb(14, 157, 239)"></i>&nbsp;&nbsp;Logout</div>
    
                </a>
                <hr>
            </div>
        </div>
    </div>
    <div class="col-lg-10 p-2">

        <div class="row m-2">

            <div class="shadow p-3">
                <h4>Change Password</h4>

            </div>


        </div>
    </div>



</div>
