#nav{
    height: 800px;
}
#links a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    /* margin: 2px; */

}
hr{
    color: grey;
}


@media (max-width:500px) {

    #nav{
        height: 550px;
    }
    
}
