<app-header></app-header>

<div class="container-fluid">

  <div class="row text-center" style="height: 500px;" >
    <div class="col-lg-12 m p-3" style="background-image: url(https://e0.pxfuel.com/wallpapers/789/647/desktop-wallpaper-job-posting-background-great-job-job-passion-and-awesome-job-powerpoint-background-good-job.jpg); background-repeat: no-repeat;background-size: cover;background-size: 100% 100%;" height="900px">

      <div class="mt-5">
        <h5 class="mt-5 fs-1" style="color: rgb(57, 207, 57);letter-spacing: 1.5mm;">LET'S START YOUR JOB WITH US</h5>
        <span class=" mt-2 fs-3 fw-bold">Find jobs, Employment & Career Opportunities.</span>
        <p class="mt-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. <br>  Totam atque distinctio deleniti voluptas a ut fugit odio veritatis consectetur ipsam sit rerum molestias, <br> dolore, velit fuga praesentium,  et libero earum.</p>
        <!-- <button routerLink="/searchjob" class="btn">Find A Job</button> -->
        <button routerLink="/searchjob" class="btn btn-success">Find A Job</button>
      </div>

    </div>
   

  </div>



















  <!-- <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <img src="https://devtechnosys.com/images/2023/top-platforms/best-job-portal/banner_img.webp" class="d-block w-100" alt="..." height="500px">
            <div class="carousel-caption d-none d-md-block">
                <h5 class="mt-0" style="color: rgb(57, 207, 57);">LET'S START YOUR JOB WITH US</h5>
                <span>Find jobs, Employment & Career Opportunities.</span>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam atque distinctio deleniti voluptas a ut fugit odio veritatis consectetur ipsam sit rerum molestias, dolore, velit fuga praesentium, et libero earum.</p>
                <button routerLink="/searchjob" class="btn">Find A Job</button>
              </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="https://media.istockphoto.com/id/1371781585/photo/young-asian-female-economist-with-document-making-presentation.jpg?s=612x612&w=0&k=20&c=6eub2GeO-mdhg9qIR8VypB37teLiOY2V8Y2mU55UlT8=" class="d-block w-100" alt="..." height="500px">
            <div class="carousel-caption d-none d-md-block">
                <h5 style="color: rgb(57, 207, 57);">BEST PLACE TO GROW YOUR CAREER</h5>
                <span>Find jobs, Employment & Career Opportunities.</span>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam atque distinctio deleniti voluptas a ut fugit odio veritatis consectetur ipsam sit rerum molestias, dolore, velit fuga praesentium, et libero earum.</p>
                <button routerLink="/searchjob" class="btn">Find A Job</button>

              </div>
          </div>
          <div class="carousel-item">
            <img src="https://img.freepik.com/free-photo/happy-financial-consultant-greeting-his-clients-while-meeting-them-their-home-me-are-shaking-hands_637285-3763.jpg" class="d-block w-100" alt="..."height="500px">
            <div class="carousel-caption d-none d-md-block">
                <h5 style="color: rgb(57, 207, 57);">WE ARE AVAILABLE ON JOB STACK</h5>
                <span>Find jobs, Employment & Career Opportunities.</span>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam atque distinctio deleniti voluptas a ut fugit odio veritatis consectetur ipsam sit rerum molestias, dolore, velit fuga praesentium, et libero earum.</p>
                <button routerLink="/searchjob" class="btn ntn-outline-light">Find A Job</button>

              </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div> -->
</div>